BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
Language: Cpp
Standard: Latest
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Attach
NamespaceIndentation: All
SpaceBeforeParens: ControlStatements
DerivePointerAlignment: false
PointerAlignment: Left
TabWidth: 4
UseTab: Never
