[submodule "src/external/GOCART"]
	path = src/external/GOCART
	url = https://github.com/GEOS-ESM/GOCART

[submodule "src/external/musica"]
	path = src/external/musica
	url = https://github.com/NCAR/musica.git
	branch = main
