!> \file {{ config.class_name }}ProcessCreator_Mod.F90
!! \brief Factory for creating {{ config.name }} process instances
!!
!! This module provides the factory functions for creating {{ config.name }}
!! process instances following the CATChem Process Factory pattern.
!!
!! Generated on: {{ timestamp }}
!! Author: {{ config.author }}
!! Version: {{ config.version }}

module {{ config.class_name }}ProcessCreator_Mod

   use precision_mod, only: fp
   use error_mod, only: CC_SUCCESS, CC_FAILURE, CC_Error, CC_Warning, ErrorManagerType
   use ProcessInterface_Mod
   use Process{{ config.class_name }}Interface_Mod

   implicit none
   private

   public :: create_{{ config.name }}_process
   public :: register_{{ config.name }}_process
   public :: get_{{ config.name }}_default_config

contains

   !> Create a new {{ config.name }} process instance
   !!
   !! This factory function creates and returns a new instance of the
   !! {{ config.name }} process. The process is not initialized - the caller
   !! must call the init() method with appropriate configuration.
   !!
   !! @param[out] process     Allocated process instance
   !! @param[out] rc          Return code
   subroutine create_{{ config.name }}_process(process, rc)
      class(ProcessInterface), allocatable, intent(out) :: process
      integer, intent(out) :: rc

      type(Process{{ config.class_name }}Interface), allocatable :: {{ config.name }}_process
      integer :: alloc_stat

      rc = CC_SUCCESS

      ! Allocate the process instance
      allocate({{ config.name }}_process, stat=alloc_stat)
      if (alloc_stat /= 0) then
         rc = CC_FAILURE
         return
      end if

      ! Move to polymorphic variable
      call move_alloc({{ config.name }}_process, process)

   end subroutine create_{{ config.name }}_process

   !> Register the {{ config.name }} process with a ProcessManager
   !!
   !! This subroutine registers the {{ config.name }} process with a ProcessManager's
   !! factory. This is the correct way to register processes for use in
   !! applications and integration tests.
   !!
   !! @param[inout] process_mgr The ProcessManager to register with
   !! @param[out] rc Return code
   subroutine register_{{ config.name }}_process(process_mgr, rc)
      use ProcessManager_Mod, only: ProcessManagerType

      type(ProcessManagerType), intent(inout) :: process_mgr
      integer, intent(out) :: rc

      rc = CC_SUCCESS

      call process_mgr%register_process( &
         name='{{ config.name }}', &
         category='{{ config.process_type }}', &
         description='{{ config.description }}', &
         creator=create_{{ config.name }}_process, &
         rc=rc &
      )

   end subroutine register_{{ config.name }}_process

   !> Get default configuration for {{ config.name }} process
   !!
   !! This function returns a default configuration string that can be
   !! used to initialize the {{ config.name }} process with reasonable defaults.
   !!
   !! @param[out] config_data Default configuration string
   subroutine get_{{ config.name }}_default_config(config_data)
      character(len=*), intent(out) :: config_data

      ! Return default YAML configuration
      config_data = &
         '# Default {{ config.name }} process configuration' // new_line('A') // &
         'process:' // new_line('A') // &
         '  name: "{{ config.name }}"' // new_line('A') // &
         '  version: "{{ config.version }}"' // new_line('A') // &
         '  active_scheme: "{{ config.default_scheme }}"' // new_line('A') // &
         '  is_active: true' // new_line('A') // &
{% if config.process_behavior and config.process_behavior.species_filter and config.process_behavior.species_filter.type == "emission_mapping" %}
         '' // new_line('A') // &
         '# Process behavior configuration' // new_line('A') // &
         'process_behavior:' // new_line('A') // &
         '  type: "{{ config.process_behavior.type }}"' // new_line('A') // &
         '  tendency_mode: "{{ config.process_behavior.tendency_mode }}"' // new_line('A') // &
         '  species_filter:' // new_line('A') // &
         '    type: "emission_mapping"' // new_line('A') // &
         '  tendency_calculation: "{{ config.process_behavior.tendency_calculation }}"' // new_line('A') // &
         '  timestep_dependency: "{{ config.process_behavior.timestep_dependency }}"' // new_line('A') // &
         '  spatial_scope: "{{ config.process_behavior.spatial_scope }}"' // new_line('A') // &
         '  parallelization: "{{ config.process_behavior.parallelization }}"' // new_line('A') // &
         '  memory_requirements: "{{ config.process_behavior.memory_requirements }}"' // new_line('A') // &
{% endif %}
         '' // new_line('A') // &
{% if config.schemes %}
         '# Scheme configuration' // new_line('A') // &
         'schemes:' // new_line('A') // &
{% for scheme in config.schemes %}
         '  {{ scheme.name }}:' // new_line('A') // &
         '    description: "{{ scheme.description }}"' // new_line('A') // &
         '    algorithm_type: "explicit"' // new_line('A') // &
         '    parameters:' // new_line('A') // &
         '      scale_factor: 1.0' // new_line('A') // &
{% if scheme.name == 'gong97' or scheme.name == 'gong03' %}
         '      weibull_flag: False' // new_line('A') // &
{% endif %}
{% if not loop.last %}
         '' // new_line('A') // &
{% endif %}
{% endfor %}
{% endif %}
         '' // new_line('A') // &
         '# Diagnostic configuration' // new_line('A') // &
         'diagnostics:' // new_line('A') // &
         '  output_frequency: 3600.0  # seconds' // new_line('A') // &
         '  output_diagnostics: true'

   end subroutine get_{{ config.name }}_default_config

end module {{ config.class_name }}ProcessCreator_Mod
